.backButton {
    margin-right: 10px;
}

.theoryText {
    margin-top: 5%;
    margin-left: 12%;
    margin-right: 12%;
    white-space: pre-wrap;
    text-align: left;
}

.progressPartsList {
    font-size: 20px;
}

.authBlock {
    background: rgba(239, 244, 255, 0.79);
    padding: 20px;
    border-radius: .5rem;
}

.noBackgroundBlock {
    /*background: white;*/
    background: rgba(239, 244, 255, 0.79);
    border-radius: .5rem;
    padding-bottom: 2vh;
}

.stickyNav {
    position: sticky;
    top: 0;
    z-index: 10;
}

body {
    background-image: url("./images/background.jpg");
    background-size: 100%;
    background-attachment: fixed;
}